.form {
    width: 500px;
    margin: 100px auto;
    background-color: #f0f0f0;
    padding: 50px 10px;
}
.form > div {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.form > div input[type='text'] {
    width: calc(100% - 100px);
    height: 42px;
    border: 0;
    outline: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 18px;
    padding-left: 15px;
}
.form > div label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    text-align: right;
    background-color: skyblue;
    color: #fff;
    height: 42px;
    line-height: 40px;
    padding-right: 10px;
}
.form > div button {
    display: block;
    width: 100px;
    height: 42px;
    margin: 0 auto;
    background-color: deepskyblue;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.form h3 {
    text-align: center;
    height: 80px;
    line-height: 80px;
}